

.fill { color: #fff!important }

.button-blue.fill { background-color: #367fa9 }

.button-green.fill { background-color: #5F9323 }

.button-aqua.fill { background-color: #00acd6 }

.button-red.fill { background-color: #d73925 }

.button-yellow.fill { background-color: #e08e0b }

.button-maroon.fill { background-color: #b20e48 }

.button-purple.fill { background-color: #555299 }

.button-grey.fill { background-color: #5d636e }

.multi-button, .button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42857143;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 1px;
  background-color: #fff
}

.multi-button::after {
  background-color: transparent;
  border-left: none;
  box-sizing: border-box;
  color: #fff;
  content: "\2207";
  display: inline-block;
  font-family: "FontAwesome";
  height: 100%;
  margin-left: -17px;
  padding: 4px 4px 0 3px;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 23px;
  z-index: 2;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear
}

.multi-button.open::after {
  font-weight: 700;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  padding: 6px 4px 0 3px
}

.test-values {
  border-radius: 4px;
  margin-left: 10px
}

.button-xsmall {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  color: #333
}

.button-small {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #333
}

.button-big {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.5;
  color: #333
}

.multi-button.button-file {
  position: relative;
  overflow: hidden
}

.button-blue { border-color: #367fa9 }

.button-blue:hover, .button-blue:active { border-color: #367fa9 }

.button-green { border-color: #5F9323 }

.button-green:hover, .button-green:active { border-color: #5F9323 }

.button-aqua { border-color: #00acd6 }

.button-aqua:hover, .button-aqua:active { border-color: #00acd6 }

.button-red { border-color: #d73925 }

.button-red:hover, .button-red:active { border-color: #d73925 }

.button-yellow { border-color: #e08e0b }

.button-yellow:hover, .button-yellow:active { border-color: #e08e0b }

.button-maroon { border-color: #b20e48 }

.button-maroon:hover, .button-maroon:active { border-color: #b20e48 }

.button-purple { border-color: #555299 }

.button-purple:hover, .button-purple:active { border-color: #302c85 }

.button-grey { border-color: #5d636e }

.button-grey:hover, .button-grey:active { border-color: #5d636e }

.button-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block
}

.multi-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0 0 1px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  width: 100%
}

.open>.multi-menu { display: block }

.multi-menu li {
  position: relative;
  padding: 5px 10px;
  margin-top: 1px
}

.multi-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap
}

.multi-menu li a span.text {
  display: inline-block;
  position: relative
}

.multi-menu li a span.check-mark { display: none }

.multi-menu li.selected a span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 0
}

.multi-menu li .searchbox { padding: 4px 8px }

.multi-menu li .searchbox .search-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-bottom: 0;
  width: 100%;
  float: none
}

.multi-menu li.control, .multi-menu li.control:hover { background-color: #fff!important }

.multi-menu li.control a.select-all-none { color: #000!important }

.multi-menu li.control:hover a.select-all-none { color: #444!important }

.multi-button .multi-menu li:hover { background-color: #efefef }

.button-blue .multi-menu li.selected, .button-blue .multi-menu li.selected:hover, .button-blue .multi-menu li.controls { background-color: #3c8dbc }

.button-blue .multi-menu li.selected a { color: #fff }

.button-green .multi-menu li.selected, .button-green .multi-menu li.selected:hover, .button-green .multi-menu li.controls { background-color: #67a028 }

.button-green .multi-menu li.selected a { color: #fff }

.button-aqua .multi-menu li.selected, .button-aqua .multi-menu li.selected:hover, .button-aqua .multi-menu li.controls { background-color: #00c0ef }

.button-aqua .multi-menu li.selected a { color: #fff }

.button-red .multi-menu li.selected, .button-red .multi-menu li.selected:hover, .button-red .multi-menu li.controls { background-color: #dd4b39 }

.button-red .multi-menu li.selected a { color: #fff }

.button-yellow .multi-menu li.selected, .button-yellow .multi-menu li.selected:hover, .button-yellow .multi-menu li.controls { background-color: #f39c12 }

.button-yellow .multi-menu li.selected a { color: #fff }

.button-maroon .multi-menu li.selected, .button-maroon .multi-menu li.selected:hover, .button-maroon .multi-menu li.controls { background-color: #B7174F }

.button-maroon .multi-menu li.selected a { color: #fff }

.button-purple .multi-menu li.selected, .button-purple .multi-menu li.selected:hover, .button-purple .multi-menu li.controls { background-color: #555299 }

.button-purple .multi-menu li.selected a { color: #fff }

.button-grey .multi-menu li.selected, .button-grey .multi-menu li.selected:hover, .button-grey .multi-menu li.controls { background-color: #80848c }

.button-grey .multi-menu li.selected a { color: #fff }

.multi-button .button-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 94%;
  display: inline-block;
  vertical-align: bottom
}

ol, ul {
  margin-top: 10px;
  margin-bottom: 10px
}

.list-wrapper {
  padding-left: 0;
  margin-bottom: 20px
}

.list-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd
}

.list-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}

.list-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

.list-item .file-name {
  max-width: 90%;
  width: auto;
  white-space: nowrap;
  overflow: hidden!important;
  text-overflow: ellipsis;
  display: inline-block
}

.overflow-list {
  max-height: 302px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 20%
}

.float-left { float: left!important }

.float-right { float: right!important }

.icon-upload {
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-image: url(../images/icons/upload-up-white.svg);
  background-position: 0 0;
  background-size: 100% auto;
  margin: 0;
  padding: 0;
  display: inline-block;
  min-height: 15px;
  min-width: 16px
}

.icon-upload-o {
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-image: url(../images/icons/upload-button.svg);
  background-position: 0 0;
  background-size: 100% auto;
  margin: 0;
  padding: 0;
  display: inline-block;
  min-height: 14px;
  min-width: 16px
}

.remove-file { font-weight: 700 }

.remove-icon {
  position: absolute;
  bottom: -9px;
  right: -9px;
  font-weight: 700
}

.data-display {
  display: block;
  float: left;
  list-style: none
}

.data-display li {
  border: 1px solid #ccc;
  margin-left: -1px;
  float: left;
  padding: 5px 10px;
  margin-top: -1px;
  min-width: 30px;
  text-align: center
}
