@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* =======================================================
*
* 	Template Style
*
* ======================================================= */
body {
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #595959;
  background: #fff; }

  .multi-button {
    width: 60% !important;
  }
  .wrapper {
  float: left;
  width: 100%;
  margin: 20px 0
}


/* form */
  .select-wrapper {
    margin: auto;
    max-width: 600px;
    width: calc(100% - 60px);
  }

  .select-pure__select {
    align-items: center;
    background: #545765;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #363b3e;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: left;
    min-height: 44px;
    padding: 5px 10px;
    position: relative;
    transition: 0.2s;
    width: 100%;
  }

  .select-pure__options {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #363b3e;
    display: none;
    left: 0;
    max-height: 221px;
    overflow-y: scroll;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 5;
  }

  .select-pure__select--opened .select-pure__options {
    display: block;
  }

  .select-pure__option {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
    height: 44px;
    line-height: 25px;
    padding: 10px;
  }

  .select-pure__option--selected {
    color: #e4e4e4;
    cursor: initial;
    pointer-events: none;
  }

  .select-pure__option--hidden {
    display: none;
  }

  .select-pure__selected-label {
    background: #1e2a2f;
    border-radius: 4px;
    color: #fff;
    cursor: initial;
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding: 3px 7px;
  }

  .select-pure__selected-label:last-of-type {
    margin-right: 0;
  }

  .select-pure__selected-label i {
    cursor: pointer;
    display: inline-block;
    margin-left: 7px;
  }

  .select-pure__selected-label i:hover {
    color: #e4e4e4;
  }

  .select-pure__autocomplete {
    background: #f9f9f8;
    border-bottom: 1px solid #e4e4e4;
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    padding: 10px;
    width: 100%;
  }
#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .offcanvas #page {
    overflow: hidden;
    position: absolute; }
    .offcanvas #page:after {
      -webkit-transition: 2s;
      -o-transition: 2s;
      transition: 2s;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 101;
      background: rgba(0, 0, 0, 0.7);
      content: ""; }

a {
  color: #FF1900;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:hover, a:active, a:focus {
    color: #FF1900;
    outline: none;
    text-decoration: none; }

p {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0; }

::-webkit-selection {
  color: #fff;
  background: #FF1900; }

::-moz-selection {
  color: #fff;
  background: #FF1900; }

::selection {
  color: #fff;
  background: #FF1900; }

.colorlib-nav {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .colorlib-nav {
      margin: 0; } }
  .colorlib-nav .top-menu {
    padding: 40px 30px; }
    @media screen and (max-width: 768px) {
      .colorlib-nav .top-menu {
        padding: 28px 1em; } }
  .colorlib-nav #colorlib-logo {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600; }
    .colorlib-nav #colorlib-logo a {
      position: relative;
      color: #fff; }
  @media screen and (max-width: 768px) {
    .colorlib-nav .menu-1 {
      display: none; } }
  .colorlib-nav ul {
    padding: 0;
    margin: 8px 0 0 0; }
    .colorlib-nav ul li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline;
      font-weight: 400; }
      .colorlib-nav ul li a {
        position: relative;
        font-size: 15px;
        padding: 30px 12px;
        color: rgba(255, 255, 255, 0.7);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        .colorlib-nav ul li a:hover {
          color: #FF1900; }
      .colorlib-nav ul li.has-dropdown {
        position: relative; }
        .colorlib-nav ul li.has-dropdown .dropdown {
          width: 140px;
          -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
          z-index: 1002;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 40px;
          left: 0;
          text-align: left;
          background: #000;
          padding: 20px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px;
          -webkit-transition: 0s;
          -o-transition: 0s;
          transition: 0s; }
          .colorlib-nav ul li.has-dropdown .dropdown:before {
            bottom: 100%;
            left: 40px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #000;
            border-width: 8px;
            margin-left: -8px; }
          .colorlib-nav ul li.has-dropdown .dropdown li {
            display: block;
            margin-bottom: 7px; }
            .colorlib-nav ul li.has-dropdown .dropdown li:last-child {
              margin-bottom: 0; }
            .colorlib-nav ul li.has-dropdown .dropdown li a {
              padding: 2px 0;
              display: block;
              color: #999999;
              line-height: 1.2;
              text-transform: none;
              font-size: 13px;
              letter-spacing: 0; }
              .colorlib-nav ul li.has-dropdown .dropdown li a:hover {
                color: #fff; }
        .colorlib-nav ul li.has-dropdown:hover a, .colorlib-nav ul li.has-dropdown:focus a {
          color: #FF1900; }
      .colorlib-nav ul li.btn-cta a {
        padding: 30px 0px !important;
        color: #fff; }
        .colorlib-nav ul li.btn-cta a span {
          background: #FF1900;
          padding: 4px 10px;
          display: -moz-inline-stack;
          display: inline-block;
          zoom: 1;
          *display: inline;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          border-radius: 100px; }
        .colorlib-nav ul li.btn-cta a:hover span {
          -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75); }
      .colorlib-nav ul li.active > a {
        color: #F7DE0C !important;
        position: relative; }
        .colorlib-nav ul li.active > a:after {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

#colorlib-counter,
.colorlib-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative; }

.colorlib-video {
  overflow: hidden; }
  @media screen and (max-width: 992px) {
    .colorlib-video {
      height: 450px; } }
  .colorlib-video a {
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    display: table;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .colorlib-video a i {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-size: 40px;
      color: #FF1900; }
  .colorlib-video .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .colorlib-video:hover .video-overlay {
    background: rgba(0, 0, 0, 0.5) !important; }
  .colorlib-video:hover a {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

#colorlib-hero {
  height: 650px;
  background: #fff url(../images/loader.gif) no-repeat center center;
  width: 100%;
  float: left;
  z-index: 0; }
  #colorlib-hero .btn {
    font-size: 24px; }
    #colorlib-hero .btn.btn-primary {
      padding: 14px 30px !important;
      background: red; }

  #colorlib-hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0; }
    #colorlib-hero .flexslider .slides {
      position: relative;
      overflow: hidden; }
      #colorlib-hero .flexslider .slides li {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 650px;
        position: relative; }
        #colorlib-hero .flexslider .slides li .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.3); }
    #colorlib-hero .flexslider .flex-control-nav {
      bottom: 5em;
      z-index: 1000;
      width: 0 auto; }
      @media screen and (max-width: 768px) {
        #colorlib-hero .flexslider .flex-control-nav {
          bottom: 6em; } }
      #colorlib-hero .flexslider .flex-control-nav li a {
        background: rgba(255, 255, 255, 0.1);
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 12px;
        height: 12px;
        cursor: pointer; }
        #colorlib-hero .flexslider .flex-control-nav li a.flex-active {
          cursor: pointer;
          background: transparent;
          background: #FF1900; }
    #colorlib-hero .flexslider .flex-direction-nav {
      display: none; }
    #colorlib-hero .flexslider .slider-text {
      display: table;
      opacity: 0;
      height: 650px;
      z-index: 9; }
      #colorlib-hero .flexslider .slider-text > .slider-text-inner {
        display: table-cell;
        vertical-align: middle;
        height: 650px;
        padding: 2em; }
        @media screen and (max-width: 768px) {
          #colorlib-hero .flexslider .slider-text > .slider-text-inner {
            text-align: center; } }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner span i {
          font-size: 24px;
          color: #F7AF1D; }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner h1, #colorlib-hero .flexslider .slider-text > .slider-text-inner h2 {
          margin: 0;
          padding: 0;
          color: white; }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner h1 {
          margin-bottom: 50px;
          font-size: 50px;
          line-height: 1.3;
          font-weight: 300; }
          @media screen and (max-width: 768px) {
            #colorlib-hero .flexslider .slider-text > .slider-text-inner h1 {
              font-size: 28px; } }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner h2 {
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 10px;
          text-transform: uppercase;
          font-family: "Quicksand", Arial, sans-serif;
          letter-spacing: 3px; }
          #colorlib-hero .flexslider .slider-text > .slider-text-inner h2 a {
            color: #FF1900;
            border-bottom: 1px solid rgba(255, 221, 0, 0.7); }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner .heading-section {
          font-size: 50px; }
          @media screen and (max-width: 768px) {
            #colorlib-hero .flexslider .slider-text > .slider-text-inner .heading-section {
              font-size: 30px; } }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner s
.colorlib-lead {
          font-size: 20px;
          color: #FF1900; }
          #colorlib-hero .flexslider .slider-text > .slider-text-inner s
.colorlib-lead .icon-heart {
            color: #d9534f; }
        #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn {
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #fff;
          padding: 20px 30px !important;
          border: none; }
          #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn.btn-learn {
            background: #FF1900;
            color: #fff; }
          #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn:hover {
            background: #000 !important; }
          @media screen and (max-width: 480px) {
            #colorlib-hero .flexslider .slider-text > .slider-text-inner .btn {
              width: 100%; } }

.colorlib-light-grey {
  background: #fafafa; }

#colorlib-hotel,
.colorlib-tour,
.colorlib-wrap,
#colorlib-contact,
#colorlib-intro,
#colorlib-testimony,
#colorlib-blog,
#colorlib-amenities,
#colorlib-subscribe,
#colorlib-footer {
  width: 100%;
  display: block;
  float: left;
  padding: 2em 0;
  clear: both; }
  @media screen and (max-width: 768px) {
    #colorlib-hotel,
    .colorlib-tour,
    .colorlib-wrap,
    #colorlib-contact,
    #colorlib-intro,
    #colorlib-testimony,
    #colorlib-blog,
    #colorlib-amenities,
    #colorlib-subscribe,
    #colorlib-footer {
      padding: 5em 0; } }

.colorlib-services {
  padding: 3em !important; }
  @media screen and (max-width: 768px) {
    .colorlib-services {
      padding: .5em !important; } }

.bg-primary-color {
  background: #FF1900; }
  .bg-primary-color p {
    color: #fff !important; }

#colorlib-reservation {
  clear: both;
  z-index: 1; }
  #colorlib-reservation .search-wrap {
    width: 100%;
    float: left;
    display: block;
    position: relative;
    z-index: 9;
    margin-top: -4em !important;
    padding: 0; }
  #colorlib-reservation .booknow {
    margin-top: 5px;
    display: block; }
    #colorlib-reservation .booknow h2, #colorlib-reservation .booknow span {
      color: #fff; }
    #colorlib-reservation .booknow h2 {
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 20px; }
    #colorlib-reservation .booknow span {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px; }
  #colorlib-reservation .nav-tabs li {
    padding: 0;
    margin-right: 2px;
    background: #FF1900;
    font-size: 16px !important; }
    #colorlib-reservation .nav-tabs li a {
      padding: 10px 20px !important;
      color: #000; }
    #colorlib-reservation .nav-tabs li.active {
      color: #fff !important !important;
      background: #2C2E3E !important; }
  @media screen and (max-width: 768px) {
    #colorlib-reservation .nav-tabs {
      margin-left: 10px; }
      #colorlib-reservation .nav-tabs li {
        font-size: 13px !important; }
        #colorlib-reservation .nav-tabs li a {
          padding: 10px !important; } }
  #colorlib-reservation .tab-content {
    background: #2C2E3E;
    padding: 5px 60px; }

.colorlib-form label {
  font-weight: normal;
  color: white; }

.colorlib-form .form-control {
  height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.03);
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7); }
  .colorlib-form .form-control:active, .colorlib-form .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #FF1900; }
  .colorlib-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.7); }
  .colorlib-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.7); }
  .colorlib-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.7); }
  .colorlib-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.7); }

.colorlib-form .form-group {
  margin-bottom: 15px; }
  .colorlib-form .form-group .form-field {
    position: relative;
    padding: 0;
    margin: 0; }
    .colorlib-form .form-group .form-field .icon {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 20px;
      color: rgba(255, 255, 255, 0.5); }
    .colorlib-form .form-group .form-field .form-control {
      padding-right: 50px; }

.colorlib-form textarea.form-control {
  height: inherit;
  resize: vertical; }

.colorlib-form .btn-block {
  margin-top: 28px;
  padding: 12px !important;
  font-size: 14px;
  color: #000; }

.services {
  padding: 7em 2em; }
  .services .icon {
    margin: 0 auto;
    margin-bottom: 20px;
    background: #f7f7f7;
    width: 120px;
    height: 120px;
    display: table;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .services .icon i {
      display: table-cell;
      vertical-align: middle;
      height: 120px;
      font-size: 60px;
      color: #00BBF0; }

.aside-stretch {
  background: #00BBF0; }
  .aside-stretch:after {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    content: '';
    width: 360%;
    background: #00BBF0; }
  @media screen and (max-width: 768px) {
    .aside-stretch {
      background: transparent; }
      .aside-stretch:after {
        background: transparent;
        display: none; } }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.tour-wrap {
  width: 100%;
  float: left;
  display: block;
  padding: 0;
  margin: 0; }
  .tour-wrap .tour-entry {
    width: 25%;
    float: left;
    position: relative;
    height: 250px;
    z-index: 0;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 768px) {
      .tour-wrap .tour-entry {
        width: 50%; } }
    @media screen and (max-width: 480px) {
      .tour-wrap .tour-entry {
        width: 100%; } }
    .tour-wrap .tour-entry .tour-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 250px;
      display: block;
      z-index: 1;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      @media screen and (max-width: 768px) {
        .tour-wrap .tour-entry .tour-img {
          -webkit-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
          -moz-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
          -ms-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
          -o-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
          box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49); } }
    .tour-wrap .tour-entry .desc {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      padding: 15px; }
      .tour-wrap .tour-entry .desc h2 {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 10px; }
      .tour-wrap .tour-entry .desc .city {
        display: block;
        color: #b3b3b3;
        margin-bottom: 5px; }
      .tour-wrap .tour-entry .desc .price {
        color: #000;
        font-size: 20px; }
      .tour-wrap .tour-entry .desc .star {
        margin-bottom: 0;
        font-size: 12px;
        color: #b3b3b3; }
        .tour-wrap .tour-entry .desc .star span i {
          color: #FF1900; }
      @media screen and (max-width: 768px) {
        .tour-wrap .tour-entry .desc {
          z-index: 2; }
          .tour-wrap .tour-entry .desc h2 {
            color: #fff; }
          .tour-wrap .tour-entry .desc .city, .tour-wrap .tour-entry .desc .star {
            color: #e6e6e6; }
          .tour-wrap .tour-entry .desc .price {
            color: #fff;
            background: #00BBF0;
            padding: 4px 7px; } }
    .tour-wrap .tour-entry:hover .tour-img {
      top: -55%; }
      @media screen and (max-width: 768px) {
        .tour-wrap .tour-entry:hover .tour-img {
          top: 0; } }

.f-tour {
  width: 100%;
  float: left; }
  .f-tour .f-tour-img {
    display: block;
    height: 210px;
    margin-bottom: 30px;
    position: relative;
    -webkit-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
    -ms-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
    -o-box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49);
    box-shadow: inset 0px -195px 142px -79px rgba(0, 0, 0, 0.49); }
    .f-tour .f-tour-img .desc {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 20px; }
      .f-tour .f-tour-img .desc h3 {
        font-size: 16px;
        color: #fff;
        margin-bottom: 10px; }
      .f-tour .f-tour-img .desc .price small {
        color: #fff; }
  .f-tour .desc h3 {
    text-transform: uppercase; }
  .f-tour .desc h4 {
    text-transform: uppercase; }
  .f-tour .desc ul {
    margin-bottom: 30px; }
    .f-tour .desc ul li {
      list-style: none;
      margin-bottom: 10px; }
      .f-tour .desc ul li a {
        color: #999999; }
        .f-tour .desc ul li a:hover {
          color: #000; }

.wrap-division {
  padding-right: 2em; }
  @media screen and (max-width: 768px) {
    .wrap-division {
      padding-right: 0; } }

.tour {
  display: block;
  margin-bottom: 4em; }
  .tour .tour-img {
    height: 300px;
    margin-bottom: 20px;
    display: block;
    position: relative; }
    .tour .tour-img .price {
      position: absolute;
      bottom: 0;
      left: 0;
      background: #00BBF0;
      color: #fff;
      padding: 8px 12px;
      margin: 0; }
      .tour .tour-img .price span {
        font-size: 16px;
        font-weight: 500; }
        .tour .tour-img .price span small {
          font-size: 16px; }
  .tour .desc {
    display: block; }
    .tour .desc h2 {
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 10px; }
      .tour .desc h2 a {
        color: #000; }
    .tour .desc .city {
      display: block;
      color: #b3b3b3;
      margin-bottom: 5px; }
    .tour .desc .star {
      margin-bottom: 15px;
      font-size: 12px;
      color: #b3b3b3; }
      .tour .desc .star span i {
        color: #FF1900; }

.sidebar-wrap {
  display: block; }
  .sidebar-wrap .sidebar-heading {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .sidebar-wrap .search-wrap {
    background: #2C2E3E;
    border: 1px solid #f0f0f0;
    padding: 2em 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
    .sidebar-wrap .search-wrap .sidebar-heading {
      color: #fff; }
  .sidebar-wrap .side {
    margin-bottom: 4em; }
  .sidebar-wrap .colorlib-form-2 label {
    font-weight: normal;
    color: black; }
  .sidebar-wrap .colorlib-form-2 .form-control {
    height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #fafafa;
    border: 2px solid rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.7); }
    .sidebar-wrap .colorlib-form-2 .form-control:active, .sidebar-wrap .colorlib-form-2 .form-control:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #FF1900; }
    .sidebar-wrap .colorlib-form-2 .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.7); }
    .sidebar-wrap .colorlib-form-2 .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(0, 0, 0, 0.7); }
    .sidebar-wrap .colorlib-form-2 .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: rgba(0, 0, 0, 0.7); }
    .sidebar-wrap .colorlib-form-2 .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(0, 0, 0, 0.7); }
  .sidebar-wrap .colorlib-form-2 .form-group {
    margin-bottom: 15px; }
    .sidebar-wrap .colorlib-form-2 .form-group .form-field {
      position: relative;
      padding: 0;
      margin: 0; }
      .sidebar-wrap .colorlib-form-2 .form-group .form-field .icon {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 20px;
        color: rgba(0, 0, 0, 0.5); }
      .sidebar-wrap .colorlib-form-2 .form-group .form-field .form-control {
        padding-right: 50px; }
  .sidebar-wrap .colorlib-form-2 textarea.form-control {
    height: inherit;
    resize: vertical; }
  .sidebar-wrap .colorlib-form-2 .btn-block {
    margin-top: 28px;
    padding: 12px !important; }
  .sidebar-wrap .colorlib-form-2 .rate i {
    color: #FF1900;
    margin: 0 5px; }
  .sidebar-wrap .colorlib-form-2 .place {
    font-size: 16px;
    margin-left: 10px; }
  .sidebar-wrap .category {
    margin: 0; }
    .sidebar-wrap .category li {
      list-style: none;
      margin-bottom: 10px; }
      .sidebar-wrap .category li a {
        color: #000; }
  .sidebar-wrap .blog-entry-side .blog-post .desc h3 {
    font-size: 18px; }

#colorlib-intro {
  z-index: 0; }
  #colorlib-intro .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.7);
    z-index: -1; }
  #colorlib-intro .video-wrap {
    z-index: 2; }
    #colorlib-intro .video-wrap .colorlib-video {
      height: 350px;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      @media screen and (max-width: 768px) {
        #colorlib-intro .video-wrap .colorlib-video {
          position: relative; } }
  #colorlib-intro .video {
    display: table;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
    -ms-box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
    -o-box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 20px 71px -12px rgba(0, 0, 0, 0.31); }

.intro-desc {
  z-index: 2; }
  @media screen and (max-width: 768px) {
    .intro-desc {
      margin-bottom: 4em; } }

.intro-img {
  display: block; }

.text-salebox {
  display: table;
  width: 100%; }
  .text-salebox .text-lefts {
    text-align: left;
    display: table-cell;
    vertical-align: top; }
    @media screen and (max-width: 768px) {
      .text-salebox .text-lefts {
        display: table;
        margin-bottom: 3em; } }
    .text-salebox .text-lefts .sale-box .sale-box-top {
      display: inline-block;
      position: relative; }
    .text-salebox .text-lefts .sale-box .number {
      font-weight: 700;
      font-size: 90px;
      margin: 0;
      line-height: 1;
      display: inline-block;
      color: #FF1900; }
    .text-salebox .text-lefts .sale-box .sup-1 {
      font-size: 40px;
      position: absolute;
      top: 10px;
      left: 100%;
      display: block;
      line-height: 1;
      color: #FF1900;
      font-weight: 700; }
    .text-salebox .text-lefts .sale-box .sup-2 {
      font-size: 36px;
      text-transform: uppercase;
      position: absolute;
      bottom: 8px;
      left: 100%;
      display: block;
      line-height: 1;
      font-weight: 700;
      color: #fff; }
    .text-salebox .text-lefts .sale-box .text-sale {
      font-size: 72px;
      color: #fff;
      text-transform: uppercase;
      line-height: 55px;
      margin: 0;
      font-weight: 700; }
  .text-salebox .text-rights {
    padding: 0 30px; }
    @media screen and (max-width: 768px) {
      .text-salebox .text-rights {
        padding: 0; } }
    .text-salebox .text-rights .title {
      color: #fff;
      font-weight: 400; }
    .text-salebox .text-rights p {
      color: #fff; }
    .text-salebox .text-rights .btn-primary {
      color: #000; }
    .text-salebox .text-rights .btn-outline {
      border: 1px solid #fff !important;
      color: #fff; }

#colorlib-hotel .owl-carousel {
  z-index: 0; }

#colorlib-hotel .owl-carousel .owl-stage-outer {
  z-index: -1; }

#colorlib-hotel .owl-theme .owl-controls {
  margin-top: -10px;
  z-index: 1;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin-top: -30px; }

#colorlib-hotel .owl-theme .owl-controls .owl-nav [class*=owl-] {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  background: transparent;
  background: #f2f2f2;
  padding: 5px 5px;
  opacity: 1; }
  #colorlib-hotel .owl-theme .owl-controls .owl-nav [class*=owl-] .owl-direction {
    background: transparent;
    color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none; }
  #colorlib-hotel .owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #00BBF0; }

.hotel-entry {
  margin-bottom: 3em; }
  .hotel-entry .hotel-img {
    height: 280px;
    display: block;
    margin-bottom: 20px;
    position: relative; }
    .hotel-entry .hotel-img .price {
      position: absolute;
      bottom: 0;
      left: 0;
      background: #00BBF0;
      color: #fff;
      padding: 8px 12px;
      margin: 0; }
      .hotel-entry .hotel-img .price span {
        font-size: 18px;
        font-weight: 700; }
        .hotel-entry .hotel-img .price span small {
          font-size: 16px; }
  .hotel-entry .desc h3 {
    margin-bottom: 10px; }
    .hotel-entry .desc h3 a {
      color: #000; }
  .hotel-entry .desc .place {
    color: #b3b3b3;
    font-size: 12px;
    display: block;
    margin-bottom: 15px; }
  .hotel-entry .desc .star {
    margin-bottom: 10px;
    font-size: 12px;
    color: #b3b3b3; }
    .hotel-entry .desc .star span i {
      color: #FF1900; }

.heading2 {
  margin-bottom: 5em;
  padding: 20px 30px;
  background: #f7f7f7;
  border: 1px solid #f0f0f0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }
  .heading2 h2 {
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #000;
    position: relative;
    margin: 0;
    text-transform: uppercase; }

.room-wrap {
  display: block;
  margin-bottom: 4em; }
  .room-wrap h2 {
    font-size: 20px;
    text-transform: uppercase; }
  .room-wrap .price span {
    font-size: 20px;
    color: #00BBF0; }
  .room-wrap .price small {
    font-size: 14px; }
  .room-wrap .desc {
    padding: 20px 0 0 0; }
  .room-wrap .day-tour {
    display: block;
    margin-bottom: 20px;
    color: #b3b3b3; }

.room-img {
  display: block;
  height: 300px; }

#colorlib-testimony .owl-carousel {
  z-index: 0; }

#colorlib-testimony .owl-carousel .owl-stage-outer {
  z-index: -1; }

#colorlib-testimony .owl-theme .owl-controls {
  margin-top: -10px;
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin-top: -30px; }

#colorlib-testimony .owl-theme .owl-controls .owl-nav [class*=owl-] {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  background: transparent;
  opacity: 1; }
  #colorlib-testimony .owl-theme .owl-controls .owl-nav [class*=owl-] .owl-direction {
    background: transparent;
    color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-size: 20px; }

#colorlib-testimony .owl-theme .owl-controls .owl-nav .owl-prev {
  float: left;
  margin-left: -60px; }
  @media screen and (max-width: 768px) {
    #colorlib-testimony .owl-theme .owl-controls .owl-nav .owl-prev {
      margin-left: 0; } }

#colorlib-testimony .owl-theme .owl-controls .owl-nav .owl-next {
  float: right;
  margin-right: -60px; }
  @media screen and (max-width: 768px) {
    #colorlib-testimony .owl-theme .owl-controls .owl-nav .owl-next {
      margin-right: 0; } }

.testimony {
  position: relative;
  width: 100%; }
  .testimony .img-user {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .testimony .user {
    display: block;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px; }
  .testimony small {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #999999; }
  .testimony blockquote {
    padding: 0;
    margin: 0 0 20px 0;
    border: none; }
    .testimony blockquote p {
      color: #000;
      font-size: 16px; }

article {
  width: 100%;
  float: left;
  margin-bottom: 2em; }
  article .blog-img {
    height: 400px;
    z-index: -1;
    width: 100%;
    float: left; }
  article .desc {
    padding: 3em;
    width: 95%;
    float: left;
    margin-top: -7em;
    z-index: 1;
    background: #fff; }
    article .desc h2 a {
      color: #000; }
    article .desc .meta span {
      margin-right: 10px; }
      article .desc .meta span a {
        color: #cccccc; }

.blog-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%;
  padding: 0 !important; }
  .blog-flex .f-entry-img, .blog-flex .blog-entry {
    width: 50%;
    display: inline-block; }
    @media screen and (max-width: 768px) {
      .blog-flex .f-entry-img, .blog-flex .blog-entry {
        width: 100%; } }
  .blog-flex .f-entry-img {
    display: table;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap; }

.blog-entry {
  padding: 3em 4em; }
  @media screen and (max-width: 768px) {
    .blog-entry {
      padding: 4em 1em; } }

.blog-post {
  margin-bottom: 2.5em;
  display: block;
  position: relative; }
  .blog-post .desc {
    padding-left: 110px; }
    .blog-post .desc h3 {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 10px; }
    .blog-post .desc span {
      font-size: 13px;
      color: #333333; }
  .blog-post .img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 4px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

.f-tour-img,
.room-img,
.tour-img,
.intro-img,
.amenities-img,
.blog-img,
.hotel-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

.tab-pane {
  padding: 1.5em 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.nav-tabs {
  border: none;
  border-bottom: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .nav-tabs li {
    font-size: 20px; }
    @media screen and (max-width: 768px) {
      .nav-tabs li {
        font-size: 12px; } }
    .nav-tabs li a {
      border: none !important;
      border-bottom: none !important;
      background: transparent; }
      .nav-tabs li a:first-child {
        padding-left: 0; }
      .nav-tabs li a:hover, .nav-tabs li a:focus {
        background: transparent; }
    .nav-tabs li.active a {
      border: none !important;
      border-bottom: none !important;
      color: #fff !important;
      background: transparent !important;
      border: 1px solid red; }

.about-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  width: 100%; }
  .about-flex .col-one-forth {
    width: 25%;
    padding: 7em 4em 7em 0; }
  .about-flex .col-three-forth {
    width: 75%;
    padding: 7em 4em; }
  .about-flex .col-one-forth, .about-flex .col-three-forth {
    display: inline-block; }
    @media screen and (max-width: 768px) {
      .about-flex .col-one-forth, .about-flex .col-three-forth {
        width: 100%;
        padding: 4em 1em; } }
  .about-flex .aside-stretch {
    position: relative; }
    .about-flex .aside-stretch:after {
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      content: '';
      width: 360%;
      background: #00BBF0; }
  .about-flex .about {
    text-align: right; }
    @media screen and (max-width: 768px) {
      .about-flex .about {
        text-align: left; } }
    .about-flex .about h2 {
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 2em; }
      @media screen and (max-width: 768px) {
        .about-flex .about h2 {
          color: #000; } }
    .about-flex .about ul {
      list-style: none; }
      .about-flex .about ul li {
        margin-bottom: 8px; }
        .about-flex .about ul li a {
          color: #fff; }
          @media screen and (max-width: 768px) {
            .about-flex .about ul li a {
              color: #000; } }

.contact-info-wrap {
  margin-bottom: 3em; }
  .contact-info-wrap p a {
    color: #000; }
  .contact-info-wrap p span {
    padding-right: 10px; }
    .contact-info-wrap p span i {
      font-size: 20px;
      color: #000; }

@media screen and (max-width: 768px) {
  .padding-bottom {
    margin-bottom: 30px; } }

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  font-size: 13px !important;
  font-weight: 300;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px; }
  .form-control:focus, .form-control:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.8); }

input[type="text"] {
  height: 50px; }

.form-group {
  margin-bottom: 30px; }
  .form-group .btn-modify {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 15px; }

.colorlib-social-icons {
  margin: 0;
  padding: 0; }
  .colorlib-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .colorlib-social-icons li a {
      display: -moz-inline-stack;
      display: inline-block;
      zoom: 1;
      *display: inline;
      color: #FF1900;
      padding-left: 10px;
      padding-right: 10px; }
      .colorlib-social-icons li a i {
        font-size: 20px; }

.colorlib-heading {
  margin-bottom: 5em; }
  .colorlib-heading h2 {
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #000;
    position: relative; }

#colorlib-subscribe {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff; }
  #colorlib-subscribe .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    font-weight: 700; }
  #colorlib-subscribe .colorlib-heading {
    margin-bottom: 0; }
    #colorlib-subscribe .colorlib-heading h2 {
      color: #fff !important;
      font-size: 34px; }
    #colorlib-subscribe .colorlib-heading p {
      font-size: 18px; }

.qbstp-header-subscribe .form-group {
  position: relative;
  width: 60%; }
  @media screen and (max-width: 480px) {
    .qbstp-header-subscribe .form-group {
      width: 100%; } }
  .qbstp-header-subscribe .form-group input::-webkit-input-placeholder {
    color: #333333; }
  .qbstp-header-subscribe .form-group input::-moz-input-placeholder {
    color: #333333; }
  .qbstp-header-subscribe .form-group input::-ms-input-placeholder {
    color: #333333; }
  .qbstp-header-subscribe .form-group input::-o-input-placeholder {
    color: #333333; }
  .qbstp-header-subscribe .form-group input::input-placeholder {
    color: #333333; }

.qbstp-header-subscribe #email {
  font-size: 18px;
  width: 100%;
  padding-right: 3em;
  border: none;
  border: 2px solid #fff;
  background: #fff;
  color: #333333 !important;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }

.qbstp-header-subscribe button {
  position: absolute;
  top: 0;
  right: -4px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background: #FF1900;
  color: #fff;
  border: none;
  padding: 14px; }

#colorlib-footer {
  background: #2C2E3E;
  color: rgba(255, 255, 255, 0.5) !important; }
  #colorlib-footer .colorlib-footer-links {
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 768px) {
      #colorlib-footer .colorlib-footer-links {
        margin-bottom: 10px; } }
    #colorlib-footer .colorlib-footer-links li {
      padding: 0;
      margin: 0 0 5px 0;
      list-style: none;
      display: block; }
      #colorlib-footer .colorlib-footer-links li a {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none; }
        #colorlib-footer .colorlib-footer-links li a:hover {
          text-decoration: underline; }
  #colorlib-footer .colorlib-social-icons li a {
    padding-left: 10px;
    padding-right: 10px; }
    #colorlib-footer .colorlib-social-icons li a:first-child {
      padding-left: 0; }
  #colorlib-footer h4 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff; }

#map {
  width: 100%;
  height: 500px;
  position: relative; }
  @media screen and (max-width: 768px) {
    #map {
      height: 200px; } }

#colorlib-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 75px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (max-width: 768px) {
    #colorlib-offcanvas {
      display: block; } }
  .offcanvas #colorlib-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  #colorlib-offcanvas a {
    color: rgba(255, 255, 255, 0.5); }
    #colorlib-offcanvas a:hover {
      color: rgba(255, 255, 255, 0.8); }
  #colorlib-offcanvas ul {
    padding: 0;
    margin: 0; }
    #colorlib-offcanvas ul li {
      padding: 0;
      margin: 0;
      list-style: none; }
      #colorlib-offcanvas ul li > ul {
        padding-left: 20px;
        display: none; }
      #colorlib-offcanvas ul li.offcanvas-has-dropdown > a {
        display: block;
        position: relative; }
        #colorlib-offcanvas ul li.offcanvas-has-dropdown > a:after {
          position: absolute;
          right: 0px;
          font-family: 'icomoon';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\e92d";
          font-size: 20px;
          color: rgba(255, 255, 255, 0.2);
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
      #colorlib-offcanvas ul li.offcanvas-has-dropdown.active a:after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg); }

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .gototop.active {
    opacity: 1;
    visibility: visible; }
  .gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: #FF1900;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }
    .gototop a i {
      height: 50px;
      display: table-cell;
      vertical-align: middle; }
    .gototop a:hover, .gototop a:active, .gototop a:focus {
      text-decoration: none;
      outline: none; }

.colorlib-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  top: 2em !important; }
  .colorlib-nav-toggle.active i::before, .colorlib-nav-toggle.active i::after {
    background: #fff; }
  .colorlib-nav-toggle:hover, .colorlib-nav-toggle:focus, .colorlib-nav-toggle:active {
    outline: none;
    border-bottom: none !important; }
  .colorlib-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #fff;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .colorlib-nav-toggle i::before, .colorlib-nav-toggle i::after {
      content: '';
      width: 25px;
      height: 2px;
      background: #fff;
      position: absolute;
      left: 0;
      -webkit-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out; }
  .colorlib-nav-toggle.colorlib-nav-white > i {
    color: #fff;
    background: #fff; }
    .colorlib-nav-toggle.colorlib-nav-white > i::before, .colorlib-nav-toggle.colorlib-nav-white > i::after {
      background: #fff; }

.colorlib-nav-toggle i::before {
  top: -7px; }

.colorlib-nav-toggle i::after {
  bottom: -7px; }

.colorlib-nav-toggle:hover i::before {
  top: -8px; }

.colorlib-nav-toggle:hover i::after {
  bottom: -8px; }

.colorlib-nav-toggle.active i {
  background: transparent; }

.colorlib-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  background: #fff; }

.colorlib-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  background: #fff; }

.colorlib-nav-toggle {
  position: absolute;
  right: 0px;
  top: 65px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important; }
  @media screen and (max-width: 768px) {
    .colorlib-nav-toggle {
      display: block; } }

.pagination li {
  margin: 2px; }
  .pagination li a {
    color: #000;
    background: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 2px; }
    .pagination li a:first-child {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
    .pagination li a:hover, .pagination li a:focus {
      background: #FF1900;
      color: #fff;
      border: 1px solid #FF1900; }
    @media screen and (max-width: 768px) {
      .pagination li a {
        padding: 7px 15px; } }
  .pagination li.active a {
    border: 1px solid #FF1900;
    background: #FF1900;
    color: #000; }
    .pagination li.active a:hover, .pagination li.active a:focus {
      background: #FF1900;
      color: #000;
      border: 1px solid #FF1900; }

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px; }
  .btn.btn-md {
    padding: 8px 20px !important; }
  .btn.btn-lg {
    padding: 18px 36px !important; }
  .btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important; }

.btn-primary {
  background: #FF1900;
  color: #fff;
  border: 1px solid #FF1900; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #ffe01a !important;
    border-color: #ffe01a !important; }
  .btn-primary.btn-outline {
    background: transparent;
    color: #FF1900;
    border: 1px solid #FF1900; }
    .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
      background: #FF1900;
      color: #fff; }

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c; }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important; }
  .btn-success.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 1px solid #5cb85c; }
    .btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
      background: #5cb85c;
      color: #fff; }

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de; }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important; }
  .btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de; }
    .btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
      background: #5bc0de;
      color: #fff; }

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background: #eea236 !important;
    border-color: #eea236 !important; }
  .btn-warning.btn-outline {
    background: transparent;
    color: #f0ad4e;
    border: 2px solid #f0ad4e; }
    .btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
      background: #f0ad4e;
      color: #fff; }

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important; }
  .btn-danger.btn-outline {
    background: transparent;
    color: #d9534f;
    border: 2px solid #d9534f; }
    .btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
      background: #d9534f;
      color: #fff; }

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .btn.with-arrow:hover {
    padding-right: 50px; }
    .btn.with-arrow:hover i {
      color: #fff;
      right: 18px;
      visibility: visible;
      opacity: 1; }

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #FF1900; }

.row-pb-lg {
  padding-bottom: 6em !important; }

.row-pb-md {
  padding-bottom: 4em !important; }

.row-pb-sm {
  padding-bottom: 2em !important; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.colorlib-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff; }

.js .animate-box {
  opacity: 0; }
